html{
  background-color: #6fa8dc;
}

header{
  padding-bottom: 50px;
}

footer{
  padding: 25px;
}

#nave{
  background-color: blue;
}

.form-group{
  padding-top: 5px;
}


#body{
  background-color: transparent;
}

#formulario {
  background-color: white;
  padding-bottom: 15px;
  border-radius: 30px;
}

#iconos{
  width: 40px;
  height: 40px;
}

#logo_peru{
  width: 50px;
  height: 50px;
}

#minsa{
  width: 300px;
}


